#frontend {
  h2 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 300;
  }
}
.grid-front { 
  display: grid;
  padding-bottom: 30px;
  grid-gap: 5rem;
  grid-template-areas:
    'front1 front2'
    'front3 front4';
}
.front1 { 
  grid-area: front1;
}
.front2 {
  grid-area: front2;
}
.front3 {
  grid-area: front3;
}
.front4 {
  grid-area: front4;
}