@import "colors";
@import "general";
@import "header";
@import "frontend";
@import "backend";
@import "card";
@import "form";

@media (max-width: 900px) {
  .grid-front {
    grid-template-columns: repeat(4, 100%);
    grid-gap: 2rem;
    grid-template-areas:
      'front1'
      'front2'
      'front3'
      'front4';
  }
  .grid-back {
    grid-template-columns: repeat(4, 100%);
    grid-gap: 2rem;
    grid-template-areas:
      'back1'
      'back2';  
  }
}
